.lineChart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.lineChart-container .LineChart {
  height: 100%;
}

/* LineChart inserts a canvas element */
canvas {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.select-responsive {
  display: none;
}

@media only screen and (max-width: 450px) {
  .select-responsive {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .lineChart-container {
    height: 90%;
    width: 90%;
    padding: 0;
  }

  canvas {
    margin: 0;
  }
}
