.logo-component-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo-component-container p {
  font-size: x-large;
  font-weight: bolder;
  color: #0ccac4;
  font-family: "Sigmar";
  letter-spacing: 2px;
}

.logo-link p {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .logo-component-container p {
    font-size: large;
  }
}
